@font-face {
    font-family: "krub";
    src: url("../fonts/Krub/Krub-Regular.ttf") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "krub";
    src: url("../fonts/Krub/Krub-SemiBold.ttf") format("ttf");
    font-weight: bold;
}
@font-face {
    font-family: "krub";
    src: url("../fonts/Krub/Krub-Bold.ttf") format("ttf");
    font-weight: bolder;
}



@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("ttf");
}

// @font-face {
//     font-family: "Janna LT";
//     src:
//         local("Janna LT"),
//         url("../fonts/janna-bold.woff") format("ttf");
//     font-weight: bold;
// }
